/*
CAS-FEE 2022 / Project 1 / Martin Frey

Ausstehend:
- Hover über Icons: Anpassen von Icon (Farbe)
- Hover über Pendenz-Eintrag in Liste: Ein/Auschalten von Icons (Edit/Löschen) und Erstellungsdatum
- Ansicht "Info"

Fragen:
1) Verwendung von Conditionals in CSS möglich (if/else)?
2) Verwendung von SVG-Bildern als Variable möglich?
   (einmal definieren, mehrmals verwenden, erlaubt einfach Anpassung der Farben)
3) Anzeige der verschiedenen Bildschirme mittels (display), ist das ok?
4) CSS-Datei ist bei mir recht einfach ausgeführt (praktisch nur direkte Klassen auf Elemente).
   Mache ich etwas falsch? We werden Klassen und wo werden IDs verwendet? Namensgebung (inkl. Strukturinfo)?
5) Problem mit dem Ausrichten der Textarea für die Beschriftung, Label kann nicht vertikal ausgerichtet werden (?)
6) Für alle Texte Labels verwenden? Wie kann Mehrsprachigkeit implementiert werden, mittels CSS und Vars?

<object data="assets/delete-light.svg"></object>
*/

[data-theme="light"] {
    --theme-background-color: white;
    --theme-font-normal-color: black;
    --theme-font-action-color: blue;
    --theme-font-disabled: gray;
    --theme-button-font-color: white;
    --theme-button-background-color: black;
    --theme-frame-text-box-color: lightgray;
    --theme-background-text-box-color: white;
    --theme-divider-color: black;
    --theme-icon-theme-color: black;
    --theme-icon-theme-display-light: inline;
    --theme-icon-theme-display-dark: none;
}

[data-theme="dark"] {
    --theme-background-color: black;
    --theme-font-normal-color: lightgray;
    --theme-font-action-color: skyblue;
    --theme-font-disabled: gray;
    --theme-button-font-color: black;
    --theme-button-background-color: skyblue;
    --theme-frame-text-box-color: lightgray;
    --theme-background-text-box-color: #3d3838;
    --theme-divider-color: lightgray;
    --theme-icon-theme-color: yellow;
    --theme-icon-theme-display-light: none;
    --theme-icon-theme-display-dark: inline;
}

html {
    margin: 10px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 20px;
    color: var(--theme-font-normal-color);
    background: var(--theme-background-color);
}

svg {
    cursor: pointer;
    //color: var(--theme-font-action-color);
    color: rgba(256 256 256);
}

svg:hover {
    //color: var(--theme-font-action-color);
    color: blue;
}

.todo-button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    border: none;
    color: var(--theme-font-action-color);
    background: var(--theme-background-color);
}

.todo-button:hover {
    color: var(--theme-font-action-color);
}

.todo-select {
    font-family: inherit;
    text-align: left;
}

.todo-select select {
    cursor: pointer;
    color: var(--theme-font-action-color);
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    background: var(--theme-background-color);
    border-color: var(--theme-background-color);
    appearance: none;
}

.todo-header-container {
    display: grid;
    align-items: end;
    grid-template-columns: auto 2rem 2rem;
    height: 3rem;
    border-bottom: 3px solid var(--theme-divider-color);
    font-size: 2rem;
    font-weight: bold;
}

.todo-header-theme {
    justify-self: end;
}

.todo-header-info {
    justify-self: end;
}

.todo-icon-theme-light {
    cursor: pointer;
    display: var(--theme-icon-theme-display-light);
    color: var(--theme-icon-theme-color);
}

.todo-icon-theme-light:hover {
    color: var(--theme-font-action-color);
}

.todo-icon-theme-dark {
    cursor: pointer;
    display: var(--theme-icon-theme-display-dark);
    color: var(--theme-icon-theme-color);
}

.todo-icon-theme-dark:hover {
    color: var(--theme-font-action-color);
}

.todo-action-bar-container {
    display: grid;
    grid-template-columns: minmax(0, 10rem) minmax(0, 10rem) minmax(0, 14rem) auto;
    align-items: center;
    height: 3rem;
}

.todo-action-bar-sort {
    justify-self: start;
}

.todo-action-bar-direction {
    justify-self: start;
}

.todo-action-bar-filter {
    justify-self: start;
}

.todo-btn-add-new {
    justify-self: end;
}

.todo-item-list-entry-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 5rem auto 5rem;
    height: 5rem;
    border-bottom: 1px solid var(--theme-divider-color);
    margin: 1rem;
}

.todo-item-list-entry-container[data-overdue="true"] {
    background-color: mistyrose;
}

.todo-item-list-entry-due-date {
    font-weight: bold;
    font-size: 0.7rem;
    height: 1rem;
    grid-column: 1;
    grid-row: 1;
}

.todo-item-list-entry-priority {
    font-size: 0.7rem;
    height: 1rem;
    grid-column: 1;
    grid-row: 2;
}

.todo-item-list-entry-priority[data-prio="5"] {
    font-weight: bold;
    color: red;
}

.todo-item-list-entry-done {
    color: var(--theme-font-disabled);
    font-size: 0.7rem;
    height: 1rem;
    grid-column: 1;
    grid-row: 3;
}

.todo-item-list-entry-not-done {
    color: var(--theme-font-normal-color);
    font-size: 0.7rem;
    height: 1rem;
    grid-column: 1;
    grid-row: 3;
}

.todo-item-list-entry-name {
    font-weight: bold;
    height: 1rem;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
}

.todo-item-list-entry-description {
    grid-column: 2;
    grid-row: 2 / span 2;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-item-list-entry-btn {
    display: none;
    justify-self: end;
    height: 1rem;
}

.todo-item-list-entry-container:hover .todo-item-list-entry-btn {
    display: block;
}

.todo-item-list-entry-btn[data-click="edit"] {
    grid-column: 3;
    grid-row: 2;
    background-color: red;
}

.todo-item-list-entry-btn[data-click="delete"] {
    grid-column: 3;
    grid-row: 3;
}

.todo-item-list-entry-created {
    justify-self: end;
    color: var(--theme-font-disabled);
    font-size: 0.7rem;
    height: 1rem;
    grid-column: 3;
    grid-row: 1;
}

.todo-item-list-no-entry {
    display: grid;
    align-items: center;
    color: var(--theme-font-disabled);
    font-size: 1rem;
    height: 4rem;
}

.todo-edit-item {
    display: grid;
    margin: 1rem;
}

.todo-edit-item-title {
    display: flex;
    grid-template-columns: auto 5rem;
    justify-content: space-between;
    align-items: flex-end;
    height: 3.5rem;
}

.todo-edit-item-name {
    width: 90%;
}

.todo-edit-item-name input {
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border: 1px solid var(--theme-frame-text-box-color);
    width: 100%;
}

.todo-edit-item-name label {
    display: block;
}

.todo-edit-item-done {
    display: flex;
    size: 2rem;
}

.todo-edit-item-settings {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.todo-edit-item-due-date {
    display: grid;
}

.todo-edit-item-due-date input {
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border: 1px solid var(--theme-frame-text-box-color);
}

.todo-edit-item-priority {
    align-self: center;
    font-size: 1rem;
}

.todo-edit-item-description {
    display: grid;
}

.todo-edit-item-description textarea {
    resize: none;
    height: 8rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border: 1px solid var(--theme-frame-text-box-color);
}

.todo-edit-item-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3rem;
}

.todo-edit-item-actions button {
    height: 1.5rem;
    width: 7rem;
    color: var(--theme-button-font-color);
    background-color: var(--theme-button-background-color);
    border: none;
    border-radius: 0.7rem;
    margin-left: 1rem;
}

.todo-footer {
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;
    height: 2rem;
}