/*
 * CAS FEE 2022 / Project 1 / Frontend: Main Controller
 * Martin Frey <martin.frey@ost.ch>
 */

[data-theme="light"] {
    --theme-font: black;
    --theme-font-header: white;
    --theme-font-disabled: gray;
    --theme-font-item: black;
    --theme-font-footer: black;
    --theme-background: white;
    --theme-background-header: #006dfe;
    --theme-background-footer: lightgray;
    --theme-background-input: white;
    --theme-background-input-error: mistyrose;
    --theme-background-prio-1: #fffab6;
    --theme-background-prio-2: #fcecc0;
    --theme-background-prio-3: #fadecb;
    --theme-background-prio-4: #f7d0d5;
    --theme-background-prio-5: #f4c2df;
    --theme-background-prio-x-done: #eee;
    --theme-background-prio-x-hover: #d4f0fc;
    --theme-button-hover: black;
    --theme-button-delete: red;
    --theme-button-header: white;
    --theme-button-header-hover: black;
    --theme-button-theme-light: inline;
    --theme-button-theme-dark: none;
    --theme-input-frame: lightgray;
    --theme-error: red;
    --theme-shadow: 0 5px 5px 0 rgba(127 127 127 / 100%);
    --theme-shadow-footer: 0 -4px 5px 0 rgba(127 127 127 / 100%);
    --theme-outline: black solid 2px;
}

[data-theme="dark"] {
    --theme-font: lightgray;
    --theme-font-header: lightgray;
    --theme-font-disabled: gray;
    --theme-font-footer: lightgray;
    --theme-font-item: black;
    --theme-background: #202020;
    --theme-background-header: #904a8e;
    --theme-background-footer: black;
    --theme-background-input: #535353;
    --theme-background-input-error: mistyrose;
    --theme-background-prio-1: #fef2dc;
    --theme-background-prio-2: #fedcc8;
    --theme-background-prio-3: #edc6bb;
    --theme-background-prio-4: #ddaeae;
    --theme-background-prio-5: #c39aa5;
    --theme-background-prio-x-done: lightgray;
    --theme-background-prio-x-hover: lightskyblue;
    --theme-button-hover: black;
    --theme-button-delete: red;
    --theme-button-header: white;
    --theme-button-header-hover: black;
    --theme-button-theme-light: none;
    --theme-button-theme-dark: inline;
    --theme-input-frame: black;
    --theme-error: #fa653c;
    --theme-shadow: none;
    --theme-shadow-footer: none;
    --theme-outline: orange solid 2px;
}

html {
    font-family: "Roboto Flex", sans-serif;
    font-size: 20px;
    color: var(--theme-font);
    background: var(--theme-background);
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

/* marking elements when focused (box) */
button:focus-visible {
    outline: var(--theme-outline);
}

input:focus-visible {
    outline: var(--theme-outline);
}

textarea:focus-visible {
    outline: var(--theme-outline);
}

select:focus-visible {
    outline: var(--theme-outline);
}

svg {
    /* process events from underlaying button element */
    pointer-events: none;
}

/* "classic" button */
.todo-button {
    margin-left: 1rem;
    height: 1.7rem;
    width: 7rem;
    color: var(--theme-font-header);
    background-color: var(--theme-background-header);
    border-radius: 1rem;
    font-size: 0.8rem;
}

.todo-button:hover {
    background-color: var(--theme-button-hover);
}

/* ------------------------------------------------------------------
 * Info Dialog
 * ------------------------------------------------------------------
 */
.todo-info-dialog:not([open]) {
    display: none;
}

.todo-info-dialog[open] {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--theme-font);
    display: grid;
    color: var(--theme-font);
    background: var(--theme-background);
    justify-content: start;
    align-content: center;
    box-shadow: var(--theme-shadow);
}

.todo-info-dialog::backdrop {
    background: rgba(50% 50% 50% / 50%);
}

.todo-info-dialog h1 {
    font-size: 1.5rem;
    font-weight: bold;
    height: 2rem;
}

.todo-info-dialog p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

.todo-info-dialog button {
    justify-self: end;
    align-self: end;
    margin-top: 0.7rem;
}

/* ------------------------------------------------------------------
 * Header
 * ------------------------------------------------------------------
 */
.todo-header-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow: clip;
    z-index: 1;
    display: grid;
    margin: 0;
    padding: 10px 30px;
    grid-template-columns: auto 2rem 2rem;
    height: 2.5rem;
    align-items: end;
    font-size: 2rem;
    font-weight: bold;
    color: var(--theme-font-header);
    background-color: var(--theme-background-header);
    box-shadow: var(--theme-shadow);
}

.todo-header-view button {
    padding: 0;
    justify-self: end;
    background-color: inherit;
    color: var(--theme-font-header);
}

.todo-header-view button:hover {
    color: var(--theme-font);
}

.todo-icon-theme-light {
    display: var(--theme-button-theme-light);
}

.todo-icon-theme-dark {
    display: var(--theme-button-theme-dark);
}

/* ------------------------------------------------------------------
 * Item List View
 * ------------------------------------------------------------------
 */
.todo-list-view {
    position: relative;
    top: 6rem;
    padding: 0 0 20px;
}

.todo-action-bar-container {
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0 30px;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(0, 10rem) minmax(0, 10rem) minmax(0, 10rem) auto;
    height: 3rem;
    align-items: center;
    background: var(--theme-background);
}

.todo-action-bar-container select {
    appearance: none;
    border-style: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    color: var(--theme-background-header);
    background: var(--theme-background);
    border-color: var(--theme-background);
    cursor: pointer;
}

.todo-action-bar-container select:hover {
    font-weight: bold;
    color: var(--theme-font);
}

.todo-btn-sort-dir {
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    color: var(--theme-background-header);
    background-color: inherit;
}

.todo-btn-sort-dir:hover {
    font-weight: bold;
    color: var(--theme-font);
}

.todo-btn-add-new {
    justify-self: end;
    color: var(--theme-background-header);
    background-color: inherit;
}

.todo-btn-add-new:hover {
    font-weight: bold;
    color: var(--theme-font);
}

/* ------------------------------------------------------------------
 * Item List Entry (Note)
 * ------------------------------------------------------------------
 */
.todo-item-list-entry-container {
    padding: 15px;
    margin: 20px;
    display: grid;
    grid-template:
        "due name done tick"
        "prio prio prio prio"
        "creation description del edit"
        / 5rem auto 3rem 2rem;
    grid-template-rows: 1rem 1rem 1rem;
    color: var(--theme-font-item);
    box-shadow: var(--theme-shadow);
}

.todo-item-list-entry-container * {
    padding: 2px;
}

.todo-item-list-entry-container svg {
    background-color: inherit;
}

.todo-item-list-entry-container[data-prio="5"] {
    background-color: var(--theme-background-prio-5);
}

.todo-item-list-entry-container[data-prio="4"] {
    background-color: var(--theme-background-prio-4);
}

.todo-item-list-entry-container[data-prio="3"] {
    background-color: var(--theme-background-prio-3);
}

.todo-item-list-entry-container[data-prio="2"] {
    background-color: var(--theme-background-prio-2);
}

.todo-item-list-entry-container[data-prio="1"] {
    background-color: var(--theme-background-prio-1);
}

.todo-item-list-entry-container[data-done="yes"] {
    background-color: var(--theme-background-prio-x-done);
}

.todo-item-list-entry-container:hover {
    background-color: var(--theme-background-prio-x-hover);
}

.todo-item-list-entry-due-date {
    grid-area: due;
    align-self: start;
    font-size: 0.7rem;
    font-weight: bold;
}

.todo-item-list-entry-name {
    grid-area: name;
    align-self: start;
    font-weight: bold;
}

.todo-item-list-entry-done-text {
    grid-area: done;
    align-self: center;
    justify-self: end;
    font-size: 0.7rem;
}

.todo-item-list-entry-done-tick {
    grid-area: tick;
    align-self: center;
    justify-self: end;
    font-size: 0.7rem;
    background-color: inherit;
}

.todo-item-list-entry-done-tick[data-tick="yes"] {
    color: var(--theme-font-disabled);
}

.todo-item-list-entry-priority {
    grid-area: prio;
    align-self: center;
    font-size: 0.7rem;
}

.todo-item-list-entry-created {
    grid-area: creation;
    align-self: end;
    font-size: 0.7rem;
    font-style: italic;
    color: var(--theme-font-disabled);
}

.todo-item-list-entry-description {
    grid-area: description;
    align-self: end;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-item-list-entry-btn {
    display: none;
    align-self: end;
    justify-self: end;
    background-color: inherit;
}

.todo-item-list-entry-btn[data-click="delete"] {
    grid-area: del;
    color: var(--theme-button-delete);
}

.todo-item-list-entry-btn[data-click="edit"] {
    grid-area: edit;
}

/* show edit and display when hover */
.todo-item-list-entry-container:hover .todo-item-list-entry-btn {
    display: inline;
}

.todo-item-list-no-entry {
    display: grid;
    justify-content: center;
    color: var(--theme-background-footer);
}

.todo-item-list-no-entry div {
    justify-self: center;
    font-size: 3rem;
    font-style: italic;
}

/* ------------------------------------------------------------------
 * Edit View
 * ------------------------------------------------------------------
 */
.todo-edit-view {
    position: fixed;
    overflow: hidden;
    top: 3.5rem;
    left: 0;
    right: 0;
    margin: 10px 20px;
    padding: 5px 5px 20px;
}

.todo-edit-item-container {
    display: grid;
    grid-template:
        "name name done"
        "due prio prio"
        "descr descr descr"
        / 8rem auto 8rem;
    grid-template-rows: 4rem 3rem 10rem;
    align-items: end;
}

.todo-edit-item-name {
    grid-area: name;
}

.todo-edit-item-name input {
    display: block;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--theme-font);
    background-color: var(--theme-background-input);
    border: 1px solid var(--theme-input-frame);
    box-sizing: border-box;
    width: 100%;
}

.todo-edit-item-name label.todo-error {
    color: var(--theme-error);
    font-style: italic;
    font-weight: bold;
}

.todo-edit-item-name input.dirty:invalid {
    background-color: var(--theme-background-input-error);
}

.todo-edit-item-done {
    grid-area: done;
    justify-self: end;
}

.todo-edit-item-due-date {
    grid-area: due;
}

.todo-edit-item-due-date input {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font);
    background-color: var(--theme-background-input);
    border: 1px solid var(--theme-input-frame);
}

.todo-edit-item-priority {
    grid-area: prio;
    justify-self: end;
}

.todo-edit-item-description {
    grid-area: descr;
}

.todo-edit-item-description textarea {
    display: block;
    resize: none;
    height: 8rem;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font);
    background-color: var(--theme-background-input);
    border: 1px solid var(--theme-input-frame);
}

.todo-edit-item-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3rem;
}

/* ------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------
 */
.todo-footer {
    display: grid;
    grid-template-columns: auto 10rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px 30px;
    font-size: 0.7rem;
    font-style: italic;
    color: var(--theme-font-footer);
    background: var(--theme-background-footer);
    box-shadow: var(--theme-shadow-footer);
}

.todo-issue-counter {
    justify-self: right;
    font-weight: bold;
}

/* ------------------------------------------------------------------
 * System Failure View
 * ------------------------------------------------------------------
 */
.todo-system-failure-view {
    display: none;
    justify-content: center;
    color: red;
}

.todo-system-failure-view div {
    justify-self: center;
    font-size: 3rem;
    font-style: italic;
}
