/*
CAS-FEE 2022 / Project 1 / Martin Frey

Ausstehend:
- Hover über Icons: Anpassen von Icon (Farbe)
- Hover über Pendenz-Eintrag in Liste: Ein/Auschalten von Icons (Edit/Löschen) und Erstellungsdatum
- Ansicht "Info"

Fragen:
1) Verwendung von Conditionals in CSS möglich (if/else)?
2) Verwendung von SVG-Bildern als Variable möglich?
   (einmal definieren, mehrmals verwenden, erlaubt einfach Anpassung der Farben)
3) Anzeige der verschiedenen Bildschirme mittels (display), ist das ok?
4) CSS-Datei ist bei mir recht einfach ausgeführt (praktisch nur direkte Klassen auf Elemente).
   Mache ich etwas falsch?
5) Problem mit dem Ausrichten der Textarea für die Beschriftung, Label kann nicht vertikal ausgerichtet werden (?)
6) ...

*/

:root {
    /*
    Display "overview" (with items):
    --display-overview-actions-bar: grid;
    --display-overview-item-list: grid;
    --display-overview-no-items: none;
    --display-edit-item: none;
    --display-info: none;
    Display "empty overview" (without items) :
    --display-overview-actions-bar: none;
    --display-overview-item-list: none;
    --display-overview-no-items: none;
    --display-edit-item: block;
    --display-info: none;
    Display "edit item":
    --display-overview-actions-bar: none;
    --display-overview-item-list: none;
    --display-overview-no-items: none;
    --display-edit-item: grid;
    --display-info: none;
    Display "info":
    --display-overview-actions-bar: none;
    --display-overview-item-list: none;
    --display-overview-no-items: none;
    --display-edit-item: none;
    --display-info: grid;
     */
    --display-overview-actions-bar: none; /* visible: grid, invisible: none */
    --display-overview-item-list: none; /* visible: grid, invisible: none */
    --display-overview-no-items: none; /* visible: grid, invisible: none */
    --display-edit-item: grid; /* visible: block, invisible: none */
    --display-info: none; /* visible: grid, invisible: none */

    /* Theme: light */
    --theme-background-color: white;
    --theme-font-normal-color: black;
    --theme-font-action-color: blue;
    --theme-font-disabled: gray;
    --theme-button-font-color: white;
    --theme-button-background-color: black;
    --theme-frame-text-box-color: lightgray;
    --theme-background-text-box-color: white;
    --theme-divider-color: black;

    /* Theme: dark */
    /*
    --theme-background-color: black;
    --theme-font-normal-color: lightgray;
    --theme-font-action-color: skyblue;
    --theme-font-disabled: gray;
    --theme-button-font-color: black;
    --theme-button-background-color: skyblue;
    --theme-frame-text-box-color: lightgray;
    --theme-background-text-box-color: #3d3838;
    --theme-divider-color: lightgray;
    */
}

html {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    color: var(--theme-font-normal-color);
    margin: 10px;
    background: var(--theme-background-color);
}

.todo-button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    color: var(--theme-font-action-color);
    border: none;
    background: var(--theme-background-color);
}

.todo-button-image {
    width: 1.0rem;
    height: 1.0rem;
    border: none;
}

.todo-select {
    cursor: pointer;
    color: var(--theme-font-action-color);
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    background: var(--theme-background-color);
    border-color: var(--theme-background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.todo-selector {
    font-family: inherit;
    text-align: left;
}

.todo-header {
    display: grid;
    align-items: end;
    grid-template-columns: auto 2rem 2rem;
    height: 3rem;
    border-bottom: 3px solid var(--theme-divider-color);
}

.todo-header-title {
    font-size: 2rem;
    font-weight: bold;
}

.todo-header-theme {
    justify-self: end;
}

.todo-header-info {
    justify-self: end;
}

.todo-action-bar {
    display: var(--display-overview-actions-bar);
    align-items: center;
    grid-template-columns: auto auto auto auto;
    height: 3rem;
}

.todo-action-bar-sort {
    justify-self: start;
}

.todo-action-bar-direction {
    justify-self: start;
}

.todo-action-bar-filter {
    justify-self: start;
}

.todo-action-bar-add {
    justify-self: end;
}

.todo-item-list {
    display: var(--display-overview-item-list)
}

.todo-item-list-entry {
    display: grid;
    align-items: stretch;
    grid-template-columns: 5rem auto 5rem;
    height: 5rem;
    border-bottom: 1px solid var(--theme-divider-color);
    margin: 1rem;
}

.todo-item-list-entry-due-date {
    font-weight: bold;
    font-size: 0.7rem;
    grid-column: 1;
    grid-row: 1;
}

.todo-item-list-entry-priority {
    font-size: 0.7rem;
    grid-column: 1;
    grid-row: 2;
}

.todo-item-list-entry-done {
    font-size: 0.7rem;
    color: var(--theme-font-disabled);
    grid-column: 1;
    grid-row: 3;
}

.todo-item-list-entry-name {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
}

.todo-item-list-entry-description {
    grid-column: 2;
    grid-row: 2 / span 2;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-item-list-entry-created {
    justify-self: end;
    color: var(--theme-font-disabled);
    font-size: 0.7rem;
    grid-column: 3;
    grid-row: 1;
}

.todo-item-list-entry-edit {
    justify-self: end;
    grid-column: 3;
    grid-row: 2;
}

.todo-item-list-entry-delete {
    justify-self: end;
    grid-column: 3;
    grid-row: 3;
}

.todo-item-list-no-entry {
    display: var(--display-overview-no-items);
    align-items: center;
    color: var(--theme-font-disabled);
    font-size: 1rem;
    height: 4rem;
}

.todo-edit-item {
    display: var(--display-edit-item);
    margin: 1rem;
}

.todo-edit-item-title {
    display: flex;
    grid-template-columns: auto 5rem;
    justify-content: space-between;
    align-items: flex-end;
    height: 3.5rem;
}

.todo-edit-item-name {
    width: 100%;
}

.todo-edit-item-name input {
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border:1px solid var(--theme-frame-text-box-color);
    width: 90%;
}

.todo-edit-item-name label{
    display: block;
}

.todo-edit-item-done {
    display: flex;
    size: 2rem;
    font-size: 0.7rem;
}

.todo-edit-item-settings {
    display: flex;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.todo-edit-item-due-date label {
    display: block;
}

.todo-edit-item-due-date input {
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border:1px solid var(--theme-frame-text-box-color);
}

.todo-edit-item-priority {
    font-size: 0.7rem;
}

.todo-edit-item-description {
    display: grid;
}

.todo-edit-item-description textarea {
    resize: none;
    height: 8rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--theme-font-normal-color);
    background-color: var(--theme-background-text-box-color);
    border:1px solid var(--theme-frame-text-box-color);
}

.todo-edit-item-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3rem;
}

.todo-edit-item-actions button {
    height: 1.5rem;
    width: 7rem;
    color: var(--theme-button-font-color);
    background-color: var(--theme-button-background-color);
    border: none;
    border-radius: 0.7rem;
    margin-left: 1rem
}

.todo-footer {
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;
    height: 2rem;
}